<h1>Add Profile Information</h1>

  <form action="/profiles/new" method="post">
    Name: <input type="text" name="name"><br>
    Email: <input type="text" name="email"><br>
    Age: <input type="integer" name="age"><br>
    Location: <input type="text" name="location"><br>
    <!-- ADD TAGS HERE -->
    <input type="submit" value="Submit">
  </form>
