<h1 align="center">Add Profile Information</h1>

  <form action="users/<%= new_user.id %>/profile" method="post">
    Age: <input type="integer" name="age"><br>
    Location: <input type="text" name="location"><br>
    About Me: <input type="text" name="about_me"><br>
    Quirk: <input type="text" name="quirk"><br>
    <!-- ADD TAGS HERE -->
    <input type="submit" value="Submit Profile">
  </form>
