<div class="profiles">
<!--   Figure out associations-->
  <h4 align="center"><%= profile.age %></h4>
  <!-- <a href="/profiles</<%# profiles.id%>/edit">Edit Profile</a>
  <a href="/profiles</<%# @profiles.id%>/delete">Delete Profile</a> -->

</div>
