

    <!-- About Section -->
    <section id="about">
        <div class="container">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Your matches!...or mismatches ^_~</h2>
          </div>
            <div class='row'>
                <% list.each do |username, percent| %>
                  <% user = User.find_by(username: username) %>
                  <ul>
                  <li>
                    <div class="timeline-image">
                    <img class="img-circle img-responsive" src="http://a-z-animals.com/media/animals/images/original/sea_lion10.jpg" alt="">
                    </div>
                    <a href="/users/<%= user.id %>/profile"><%=username%></a></li>
                    <%= percent %>% Match
                  </ul>
                  <br>
                  <% end %>
            </div>
        </div>
    </section>
