.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: transparent !important;
}

.right-justify {
    text-align: right;
}

ul li {
    list-style-type: none;
}

.prof_edit_button {
    padding-top: 60px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
display: block;
max-width: 100%;
height: 100% !important;
}

.match-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
