<h3>Are you sure you want to leave NOkCupid?</h3>
<form action= '/users/<%=curr_user.id%>' method='post'>
  <input type ="hidden" name="_method" value="delete">
  <div align ="center">
    <input type="submit" value="Yes" />
</form>
