  <% if session[:message] %>
    <%= session[:message]%>
    <% session[:message].clear %>
  <% end %>

  <form action='/users/login' method='post'>
    <input type='text' name='username' placeholder='username'/><br>
    <input type='password' name='password' placeholder='password'/><br>
    <input  type='submit' value='signin'/>
  </form>
