Welcome to the Dark Side! Please enter your information!
<form action= '/users' method='post'>
  <input type='text' placeholder='name' name='name' />
  <input type='text' placeholder='email'  name='email' />
  <input type='text' placeholder='username'name='username' />
  <input type='submit' value='Add' />
</form>
