<br><br><br><br><br><br><br><br><br>

<form action= '/users' method='post'>
  <input type='text' placeholder='name' name='name' />
  <input type='text' placeholder='email'  name='email' />
  <input type='text' placeholder='username'name='username' />
  <input type='text' placeholder = 'password' name ='password' />
  <input type='submit' value='Add' />
</form>

<!-- <div class="row">
<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Create An Account</h2>
                    <p class="section-subheading text-muted">Welcome to the Dark Side! Start Today To Find Your Nemesis</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                     <form action= '/users' method='post'>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="Your Name *" id="name" >
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="email" placeholder="Your Email *" id="email">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                      <input class="form-control" type='text' name="username" placeholder='username' name='username'/>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                      <input class="form-control" type='text' name="password" placeholder='password' name='password' />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Create Account</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </section>
</div>
 -->
