<h1>Delete <%=tag.name %></h1>
<form action='/tags/<%=tag.id%>' method='post'>
  <input type='hidden' name='_method' value='delete' />
  <p><%= tag.name %></p>
  <input type='submit' value='Delete' />
</form>
