<h1>Add A Preference</h1>
<p>Let the rage flow right through your fingers.</p>
<form action='/tags' method='post'>
  <input type="text" name="name" placeholder="name">
  <input type="radio" name="dislike" value="dislike">Dislike
  <input type="radio" name="like" value="like">Like
  <input type='submit' value='Add Tag' />
</form>
<br><br>
<a href="/users/<%=profile_id%>">Done letting the hate flow through you?</a>
