 <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome to NOkCupid</div>
                <div class="intro-heading">Meet Your Nemesis</div>
                <!-- <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a> -->
                <a href="/users/new" class="page-scroll btn btn-xl">Create An Account</a>
            </div>
        </div>
    </header>
